html {
    background-color: #222222;
}

.logo {
    display: block;
    width: 205px;
    height: 200px;
    display: absolute;
    position: relative;
    top: 114px;
    left: 43.235%; /*obsured num, but it's accuracy is off by 0.01%. */
}

.input {
    position: relative;
    top: 144.5px;
    left: 30.42%; /*0.01% off, fix soon */
    height: 6px;
    width: 35%;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #333333;
    border-color: #333333;
    box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    font-size: 1.1em;
    outline: none;
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;;
    padding: 15px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
}

input {
    color: white;
}

svg {
    width: 2%;
    color: grey;
    position: relative;
    top: 155px;
    left: 470px;
    cursor: pointer;
}

.btn {
    background-color: #333333;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
}

.btn-submit {
    position: absolute;
    top: 47.7%;
    left: 67.1%;
    height: 5.3%;
    width: 3%;
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-submit:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.373);
}
svg:hover {
    color: white;
}
